{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
    <h1> Cypto </h1>
    <h3>正在建设中 </h3>

</div><!-- /.blog-post -->
        
<p>
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js">
    </script>
    <div class="coinmarketcap-currency-widget" data-currencyid="1" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false">
    </div>
</p>
{% endblock %}

        